/* Place Your Custom Styles Here */
.background {
    z-index: -1;
}

.font_size {
    font-size: 0.8rem;
    margin-top: 2.4rem;
}

.note {
    width: 45%;
}

.logo_nav {
    position: relative;
}

.logo_nav_img {
    position: absolute;
    left: -0.3rem;
    top: -0.3rem;
}

.program {
    position: relative;
}

.program_child {
    position: absolute;
}


.message {
    width: 165%;
}

.for-pc { display:block; }
.for-sp { display:none; }

@media only screen and (max-width : 767px){
  .for-pc { display:none; }
  .for-sp { display:block; }
}


.columns{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    font-size: 0.8rem;
}

.contact-form{
    display: none;
}

.note_icon{
    width: 100%;
}
